.form{
  background:linear-gradient(#75e6f8,#ddbcf0, #b7f0fa);
  border-radius: 25px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

.form input{
  width: 90%;
  height: 30px;
  margin: .5rem;
}

.form select{
  width: 90%;
  height: 40px;
  margin: .5rem;
  border-color: #d59ef4;
  color: gray;
}

.form label{
  text-decoration-color: white;
  font-family: cooper black;
}

.form-container{
  max-width:700px;
  margin: 0 auto;
}

.form-element {
  display: block;
  width: 80%;
  margin: 1rem auto;
  
}

#button{
  background: floralwhite;
  color: black;
  border-color:#d68dff;
	width: 400px;
	height: 50px;
  font-family: cooper black;
}

#chx{
	width: 20px;
	height: 20px;
}

#pag{
  background:ghostwhite;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#titulo{
  color: gray;
  margin: 2rem;
  font-family: cooper black;
  font-weight: bold;
  font-size: xx-large;
}

