.bg-centro{
  background-color: rgb(23, 32, 42);
  color: #fff;
}
.bg-main{
  background-color: rgba(148, 187, 233, 100);
}

input, textarea, select, button {
  width : 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
