.bg-centro{
  background:linear-gradient(#75e6f8,#ddbcf0, #b7f0fa);;
  color:linear-gradient(#75e6f8,#ddbcf0, #b7f0fa);
}
.bg-main{
 background:linear-gradient(#75e6f8,#ddbcf0, #b7f0fa);;
}

#body{
  background-image: url(https://images.pexels.com/photos/57416/cat-sweet-kitty-animals-57416.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

#data{
  color: black;
  background: linear-gradient(#75e6f8, #b7f0fa);
  margin: 2px;
  border-color: white;
}

